<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=56375974">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=56375974">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=56375974">
    <script defer src="/assets/js/scripts.min.js?v=56375974"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="/index.html" th:href="@{/}">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a href="/genres/index.html" th:href="@{/genres}">Жанры</a>
                </li>
                <li class="breadcrumbs-item" th:if="${parent.id != 0}">
                    <a href="/genres/index.html" th:text="${parent.name}" th:href="@{/genres/{slug}(slug=${parent.slug})}">Легкое чтение</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current" th:text="${genre.name}"><span>Детективы</span>
                </li>
            </ul>
            <header class="Middle-header">
                <h1 class="Middle-title" th:text="${genre.name}">Детективы
                </h1>
            </header>
            <div class="Section">
                <div class="Cards Cards_refresh"
                     th:replace="~{fragments/books_pool_fragment :: pool(category='genre',refreshid=${genre.slug})}"></div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>