<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=40130258">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=40130258">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=40130258">
    <script defer src="/assets/js/scripts.min.js?v=40130258"></script>
</head>
<body class="Site">
<header class="Header" th:replace="~{fragments/common_header_fragment :: head(status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:href="@{/}" href="/index.html" th:text="#{header.main}">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a href="/authors/index.html" th:href="@{/authors}" th:text="#{header.authors}">Авторы</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current" th:text="${author}"><span>Борис Васильевич Бедный</span>
                </li>
            </ul>
            <h1 class="Middle-title" th:text="${author}">Борис Васильевич Бедный
            </h1>
            <div class="Section">
                <div class="Cards Cards_refresh"
                     th:replace="~{fragments/books_pool_fragment :: pool(category='author',refreshid=${author.slug})}"></div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>