<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{header.recent}">Новинки</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=09585989">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=09585989">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=09585989">
    <script defer src="/assets/js/scripts.min.js?v=09585989"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(recent='menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs"
                th:replace="~{fragments/breadcrumb_fragment :: breadcrumps(category=#{header.recent})}"></ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title" th:text="#{header.recent}">Новинки
                    </h1>
                    <form class="form form_inline Section-header-form" action="#" method="post">
                        <div class="form-group">
                            <label class="form-label">с
                            </label>
                            <input class="form-input form-input_date form-input_date_uninit" id="fromdaterecent"
                                   name="fromdaterecent" type="text" placeholder="Дата" data-refreshoffset="20"
                                   data-refreshlimit="20" data-refreshshow="changedate" data-refreshfrom="0"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label">по
                            </label>
                            <input class="form-input form-input_date form-input_date_uninit" id="enddaterecent"
                                   name="enddaterecent" type="text" placeholder="Дата" data-refreshoffset="20"
                                   data-refreshlimit="20" data-refreshshow="changedate" data-refreshto="0"
                                   autocomplete="off"/>
                        </div>
                    </form>
                </div>
                <div class="Cards Cards_refresh"
                     th:replace="~{fragments/books_pool_fragment :: pool(category='recent')}"></div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>