<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${slugBook.title}">Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=87821122">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=87821122">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=87821122">
    <link rel="stylesheet" href="/assets/css/DownloadBookWindowStyle.css">
    <script defer src="/assets/js/scripts.min.js?v=87821122"></script>
</head>
<body class="Site">
<header class="Header" th:replace="~{fragments/common_header_fragment :: head(status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs"
                th:replace="~{fragments/breadcrumb_fragment :: breadcrumps(category=${slugBook.title})}"></ul>
            <div class="Product">
                <div class="ProductCard">
                    <div class="ProductCard-look">
                        <form id="imgForm" method="POST" enctype="multipart/form-data" action="#"
                              th:action="${'/books/'+slugBook.slug+'/img/save'}">
                            <div class="ProductCard-photo" id="uploadButton"><img th:src="${slugBook.image}"
                                                                                  src="/assets/img/content/main/card.jpg"
                                                                                  alt="card.jpg"/>
                            </div>
                            <input type="file" name="file" id="dialog" style="display: none" accept="image/*">
                        </form>
                    </div>
                    <div class="ProductCard-desc" th:replace="~{fragments/book_description_fragment :: bookDesc}"></div>
                </div>
                <div class="Product-comments">
                    <div class="Product-comments-header">
                        <h3 class="Product-comments-title">Отзывы
                        </h3><span class="Product-comments-amount"><span th:text="${totalReviews}">567</span> отзывов</span>
                    </div>
                </div>
                <strong class="Comments-title">Написать отзыв
                </strong>
                <div class="Comments-addComment">
                    <form class="form" action="#" method="post" data-bookid="1111"
                          th:attr="data-bookid = ${slugBook.slug}">
                        <div class="form-group">
                                <textarea class="form-textarea Comments-review" name="review" id="review"
                                          placeholder="Текст отзыва" data-validate="require"></textarea>
                        </div>
                        <div class="form-group Comments-sendReview">
                            <button class="btn btn_warning" type="submit">Отправить отзыв
                            </button>
                        </div>
                    </form>
                </div>
                <div th:replace="~{fragments/book_reviews_fragment :: reviewBlock}"></div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<script src="/assets/js/UploadNewBookImageScript.js"></script>
<script src="/assets/js/DownloadBookWindowScript.js"></script>
</body>
</html>