<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{header.authors}">Авторы</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=59641147">
    <script defer src="/assets/js/scripts.min.js?v=59641147"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(authors='menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{header.authors}">Авторы
            </h1>
            <div class="Section">
                <div class="Authors">
                    <div class="Authors-links">
                        <a class="Authors-link" th:each="entry : ${authorsMap}" href="#a"
                           th:href="'#' + ${#strings.toLowerCase(entry.key)}" th:text="${entry.key}">А</a>
                    </div>
                    <div class="Authors-block">
                        <th:block  th:each="entry : ${authorsMap}">
                            <h2 class="Authors-title" id="a"
                                th:id="${#strings.toLowerCase(entry.key)}" th:text="${entry.key}">А</h2>
                            <div class="Authors-letter">
                                <div th:each="author : ${entry.value}" class="Authors-item">
                                    <a href="/authors/slug.html" th:href="@{/authors/{slug}(slug=${author.slug})}"
                                       th:text="${author}">Абгарян Наринэ</a>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>