<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=93601584">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=93601584">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=93601584">
    <script defer src="/assets/js/scripts.min.js?v=93601584"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="/index.html" th:href="@{/}" th:text="#{header.main}">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a href="/authors/index.html" th:href="@{/authors}" th:text="#{header.authors}">Авторы</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${author}">Борис Васильевич Бедный</span>
                </li>
            </ul>
            <div th:replace="~{fragments/author_article_fragment :: article(author=${author})}"></div>
            <div class="Section"
                 th:replace="~{fragments/book_slider_fragment :: bookSlider(title='Книги автора',dataLoad='author',bookData=${books})}"></div>
            <footer class="Section-footer">
                <a class="Author-books" href="/books/author.html" th:href="@{/books/author/{slug}(slug=${author.slug})}">Все книги автора<span class="Author-amount" th:text="${'(' + booksAmount + ')'}">(55)</span></a>
            </footer>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>