<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="ProductCard-desc" th:fragment="bookDesc">
    <div class="ProductCard-header">
        <h1 class="ProductCard-title" th:text="${slugBook.title}">Мара и морок
        </h1>
        <div class="ProductCard-author"><span class="ProductCard-titleProp" th:text="#{header.author} + ':'">Автор:</span>&#32;<a
                href="#" th:text="${slugBook.author.toString()}">Лия Арден</a>
        </div>
        <div class="ProductCard-rating"><span class="ProductCard-titleProp">Рейтинг:</span>
            <button class="trigger trigger_dropdown" type="button">
                <div class="Rating Rating_noStyleLink"><span
                        class="Rating-stars"
                        th:replace="~{fragments/rating_stars_fragment :: stars(rating=${averageRating})}"></span><span
                        class="Rating-title" th:text="${'(' + totalVotes + ')'}">(567)</span>
                </div>
                <div class="modal modal_compression modal_dropdown">
                    <div class="modal-window"><a class="modal-close"
                                                 href="#"><span></span><span></span></a>
                        <strong class="modal-title">Распределение оценок
                        </strong>
                        <div class="RatingGroup"><span class="Rating"><span
                                class="Rating-stars"
                                th:replace="~{fragments/rating_stars_fragment :: stars(rating=5)}"></span><span
                                class="Rating-title" th:text="${votes[4]}">1</span></span><br><span
                                class="Rating"><span
                                class="Rating-stars"
                                th:replace="~{fragments/rating_stars_fragment :: stars(rating=4)}"></span><span
                                class="Rating-title" th:text="${votes[3]}">4</span></span><br><span
                                class="Rating"><span
                                class="Rating-stars"
                                th:replace="~{fragments/rating_stars_fragment :: stars(rating=3)}"></span><span
                                class="Rating-title" th:text="${votes[2]}">0</span></span><br><span
                                class="Rating"><span
                                class="Rating-stars"
                                th:replace="~{fragments/rating_stars_fragment :: stars(rating=2)}"></span><span
                                class="Rating-title" th:text="${votes[1]}">10</span></span><br><span
                                class="Rating"><span
                                class="Rating-stars"
                                th:replace="~{fragments/rating_stars_fragment :: stars(rating=1)}"></span><span
                                class="Rating-title" th:text="${votes[0]}">3</span></span>
                        </div>
                    </div>
                </div>
            </button>
        </div>
        <div class="ProductCard-assessment"><span
                class="ProductCard-titleProp">Оцените книгу:</span><span
                class="Rating Rating_input"
                th:classappend="${bookRating > 0}?Rating_inputClick"
                th:attr="data-bookid = ${slugBook.slug}"
                data-bookid="2121"><span
                class="Rating-stars"><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="1" th:checked="${bookRating == 1}"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="2" th:checked="${bookRating == 2}"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="3" th:checked="${bookRating == 3}"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="4" th:checked="${bookRating == 4}"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="5" th:checked="${bookRating == 5}"/></span></span>
        </div>
        <div class="ProductCard-tags"><span class="ProductCard-titleProp">Тэги:</span><a
                href="/tags/">Современные</a>,&#32;<a href="/tags/">Психологическая проза</a>
        </div>
        <div class="ProductCard-cost"><span class="ProductCard-titleProp"
                                            th:text="${slugBook.priceOld}">Цена:
                            </span><span
                class="ProductCard-priceOld">₽300</span><span class="ProductCard-price"
                                                              th:text="${slugBook.discountPrice()}">₽180</span>
        </div>
        <!--+div.-info
        //+div.-cost
        //    +div.-price $55.00
        //    +div.-priceOld $115.00
        //+div.-compare
        //    +btn._default
        //        +img('change.svg','icons/card').-icon
        -->
    </div>
    <div class="ProductCard-text">
        <p th:text="${slugBook.description}">Таких, как я, называют Марами - отмеченными самой
            богиней
            смерти
            Мораной.
            Когда-то у меня
            и моих шести сестер был свой путь. Тогда люди нас уважали и просили о милосердии. Они
            приносили нам подношения и молились нам. Но 200 лет назад все изменилось, когда принц
            Серата осмелился поднять руку на одну из нас. Я пыталась отомстить, но погибли мы все.
            Теперь правители Аракена, погрязшие в длительной войне со своим соседом Сератом, решили
            вернуть меня к жизни. Дать второй шанс на месть и свободу, привязав меня к тому, против
            кого я никогда не пойду. Таких, как он, называют Морок, и их боятся абсолютно все.
        </p>
    </div>
    <div class="ProductCard-cart">
        <!--+div.-cartElement.-cartElement_amount-->
        <!--    +Amount._product-->
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" data-bookid="[1111]"
                    th:attr="data-bookid = ${'kept/' + slugBook.slug}"
                    data-btntype="check" data-btnradio="buyblock" data-check="false"
                    data-alttext="Отложена"><span class="btn-icon"><img
                    src="/assets/img/icons/heart.svg" alt="heart.svg"/></span><span
                    class="btn-content">Отложить</span>
            </button>
        </div>
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline" data-sendstatus="CART" data-bookid="[1111]"
                    th:attr="data-bookid = ${'cart/' + slugBook.slug}" data-btntype="check"
                    data-btnradio="buyblock"
                    data-check="false"
                    data-alttext="В корзине"><span class="btn-icon"><img
                    src="/assets/img/icons/shopping-basket.svg"
                    alt="shopping-basket.svg"/></span><span class="btn-content">Купить</span>
            </button>
        </div>
    </div>
    <div class="ProductCard-cart">
        <!--+div.-cartElement.-cartElement_amount-->
        <!--    +Amount._product-->
        <div class="ProductCard-cartElement"><a class="btn btn_primary btn_outline" href="#"><span
                class="btn-icon"><img src="/assets/img/icons/download.svg"
                                      alt="download.svg"/></span><span
                class="btn-content">Скачать</span></a>
        </div>
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline" data-sendstatus="ARCHIVED"
                    data-bookid="[1111]" data-btntype="check" data-btnradio="buyblock"
                    data-check="false" data-alttext="Вернуть из архива"><span class="btn-icon"><img
                    src="/assets/img/icons/archive.svg" alt="archive.svg"/></span><span
                    class="btn-content">В архив</span>
            </button>
        </div>
    </div>

    <div id="myPopup">
        <p>Ссылки для скачивания</p>
        <div th:each="bookFile : ${slugBook.getBookFileList()}">
            <a href="#" th:href="${'/books/download/' + bookFile.hash}"
               th:text="${bookFile.getBookFileExtensionString()}"></a>
        </div>
        <span id="myPopup__close" class="close">❎</span>
    </div>
    <div id="myOverlay"></div>
</div>
</html>