<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bookSlider">
    <div class="Section-header">
        <h2 class="Section-title" th:text="${title}">Рекомендуемое</h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" data-load="recommended" th:attr="data-load=${dataLoad}" data-loadoffset="0" data-loadlimit="6">
            <div class="Slider-item" th:each="book : ${bookData}">
                <div class="Slider-content">
                    <div class="Card" th:replace="~{fragments/book_card_fragment :: card(book=${book})}"></div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate">
            </div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных
            </div>
        </div>
    </div>
</div>
</html>