<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="reviewBlock">
    <div class="Comments">
        <div class="Comment" th:each="review : ${reviews}">
            <div class="Comment-column Comment-column_pict">
                <div class="Comment-avatar">
                </div>
            </div>
            <div class="Comment-column">
                <header class="Comment-header">
                    <div>
                        <strong class="Comment-title"><span th:text="${review.userName}">Дмитрий Петров</span><span
                                class="Comment-rating"><span
                                class="Rating Rating_comment"><span
                                class="Rating-stars"
                                th:replace="~{fragments/rating_stars_fragment :: stars(rating=${review.rating})}"></span></span></span>
                        </strong><span class="Comment-date" th:text="${review.date}">17.04.2020 16:40</span>
                    </div>
                </header>
                <div class="Comment-content">
                    <div class="Spoiler">
                        <div class="Spoiler-visible">
                            <p th:text="${review.comment}">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget
                                dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient
                                montesti,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem.
                                Nulla
                                consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam
                                dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus element
                                semper
                                nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                                vitae.
                            </p>
                        </div>
                        <div class="Spoiler-hide" th:if="${review.hasSpoiler()}" th:text="${review.spoiler}">
                            <p>Первая книга - сборник повестей и рассказов "Большой поток" - посвящена людям
                                леспромхоза.
                                Автор книг "Рассказы" (1954), "Неразменное счастье. Повести и рассказы" (1962). Наиболее
                                известная его повесть "Девчата" (1961) переведена на пятнадцать языков. По написанному
                                им же
                                сценарию был поставлен одноименный фильм, до сих пор имеющий огромный успех.
                            </p>
                        </div>
                        <div class="Comment-footer">
                            <div class="Comment-appeal">
                                <button class="btn btn_white btn_like" th:classappend="${review.likedByCurrentUser}?btn_check"
                                        data-btntype="check" data-check="false" data-likeid="333" data-btnradio="one1"
                                        th:attr="data-likeid=${review.id},data-check=${review.likedByCurrentUser}"><span class="btn-icon"><img
                                        src="/assets/img/icons/comment/like.svg" alt="like.svg"/></span><span
                                        class="btn-content" th:text="${review.likes}">500</span>
                                </button>
                                <button class="btn btn_white btn_dislike" th:classappend="${review.dislikedByCurrentUser}?btn_check"
                                        data-btntype="check" data-check="false" data-likeid="333" data-btnradio="one1"
                                        th:attr="data-likeid=${review.id},data-check=${review.dislikedByCurrentUser}"><span class="btn-icon"><img
                                        src="/assets/img/icons/comment/dislike.svg" alt="dislike.svg"/></span><span
                                        class="btn-content" th:text="${review.dislikes}">50</span>
                                </button>
                            </div>
                            <button th:if="${review.hasSpoiler}" class="Spoiler-trigger btn btn_primary btn_nr" type="button"
                                    data-showtext="Свернуть отзыв" data-hidetext="Показать отзыв полностью">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>