<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Card" th:fragment="card">
    <div class="Card-picture">
        <a href="/books/slug.html" th:href="@{'/books/' + ${book.slug}}"><img src="/assets/img/content/main/card.jpg"
                                                             th:src="${book.image}" alt="card.jpg"/></a>
    </div>
    <div class="Card-content">
        <strong class="Card-title"><a href="/books/slug.html" th:href="@{'/books/' + ${book.slug}}"
                                      th:text="${book.title}">Техника</a></strong>
        <div class="Card-description" th:text="${book.author}">Кондратенко Валерий Петрович</div>
        <div class="Card-cost">
            <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
            <span class="Card-price" th:text="${book.price}">₽190.00</span>
        </div>
    </div>
</div>
</html>
