<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <th:block th:each="book: ${booksList}">
        <div class="Card" th:replace="~{fragments/book_card_fragment :: card(book=${book})}"></div>
    </th:block>
    <div class="Cards-footer Cards-footer_center"><a
            class="btn btn_primary" href="#" data-refreshshow="recent"
            th:attr="data-refreshshow=${category}, data-refreshid=${refreshid}, data-refreshquery=${refreshquery}"
            data-refreshoffset="20" data-refreshlimit="20">Показать еще</a>
    </div>
</div>
</html>