<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<ul class="breadcrumbs" th:fragment="breadcrumps">
    <li class="breadcrumbs-item"><a th:href="@{/}" href="/index.html" th:text="#{header.main}">Главная</a>
    </li>
    <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${category}">Новинки</span>
    </li>
</ul>
</html>