<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="Footer" th:fragment="footer">
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}"></div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item">
            <a class="menu-link" href="/index.html" th:href="@{/}" th:text="#{header.main}">Главная</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/genres/index.html" th:href="@{/genres}" th:text="#{header.genres}">Жанры</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/books/recent.html" th:href="@{/books/recent}" th:text="#{header.recent}">Новинки</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/books/popular.html" th:href="@{/books/popular}" th:text="#{header.popular}">Популярное</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/authors/index.html" th:href="@{/authors}" th:text="#{header.authors}">Авторы</a>
          </li>
        </ul>
      </div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item">
            <a class="menu-link" href="/signin.html" th:href="@{/signin}" th:text="#{header.signin}">Войти</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/documents/index.html" th:href="@{/documents}" th:text="#{footer.documents}">Документы</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/about.html" th:href="@{/about}" th:text="#{footer.about}">О компании</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/faq.html" th:href="@{/faq}" th:text="#{footer.help}">Помощь</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/contacts.html" th:href="@{/contacts}" th:text="#{footer.contacts}">Контакты</a>
          </li>
          <li class="menu-item">
            <label for="locales" th:text="#{footer.lang}">Выбор языка</label>
            <select id="locales">
              <option value=" "></option>
              <option value="en">English</option>
              <option value="ru">Русский</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">© 2021 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </div>
  </div>
  <script defer src="/assets/js/locale.js"></script>
</footer>
</html>