<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="recursiveFragment(genre)"
     th:replace="${genre.hasChildren()} ? ~{this::compositeFragment (${genre}) } : ~{this::simpleFragment (${genre}) }">
</div>

<div class="Tags" th:fragment="compositeFragment(genre)">
    <div class="Tags-title">
        <div th:replace="~{this :: simpleFragment (${genre}) }"></div>
    </div>
    <th:block th:each="sub : ${genre.children}">
         <div th:replace="~{this :: recursiveFragment (${sub}) }"></div>
    </th:block>
</div>

<div class="Tag" th:fragment="simpleFragment(genre)">
    <a href="/genres/slug.html" th:href="@{/genres/{id}(id=${genre.slug})}">
        <span th:text="${genre.name}" th:remove="tag">Фантастика</span><span class="undefined-amount" th:text="'(' + ${genre.amount} + ')'">(44333)</span>
    </a>
</div>

</body>
</html>