<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{main.title}">Магазин 📚</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=64223515">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=64223515">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=64223515">
    <script defer src="/assets/js/scripts.min.js?v=64223515"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(main='menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <div class="Section">
                <div th:replace="~{fragments/book_slider_fragment :: bookSlider(title=#{main.recommended}, dataLoad='recommended', bookData=${recommendedBooks})}"></div>
                <div th:replace="~{fragments/book_slider_fragment :: bookSlider(title=#{header.recent}, dataLoad='recent', bookData=${recentBooks})}"></div>
                <div th:replace="~{fragments/book_slider_fragment :: bookSlider(title=#{header.popular}, dataLoad='popular', bookData=${popularBooks})}"></div>
            </div>
            <h2 class="Middle-title">Книги по тегам
            </h2>
            <div class="Tags" id="tags">
                <div class="Tag Tag_xs" th:each="tag : ${tags}" th:class="${ {'Tag Tag_lg', 'Tag Tag_md', 'Tag', 'Tag Tag_sm', 'Tag Tag_xs'}[tag.category] }">
                    <a href="/tags/index.html" th:href="@{/tags/{id}(id=${tag.id})}" th:text="${tag.name}">современная литература</a>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>