<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{footer.documents}">Документы</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="data:,">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=16590401">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=16590401">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=16590401">
    <script defer src="/assets/js/scripts.min.js?v=16590401"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{footer.documents}">Документы</h1>
            <div class="Section">
                <div class="Documents">
                    <div class="Documents-wrap"><a class="Documents-item" href="/documents/slug.html">
                        <div class="Documents-image"><img src="/assets/img/content/documents/1.jpg" alt="1.jpg"/>
                        </div>
                        <div class="Documents-content">
                            <strong class="Documents-title">Публичная оферта
                            </strong>
                            <p>Согласно закону, публичная оферта – это предложение, которое, во-первых, адресовано
                                неопределенному кругу лиц, во-вторых, содержит все существенные условия договора, и,
                                в-третьих, достаточно определенно выражает намерение предприятия-оферента считать себя
                                заключившим договор с любым
                            </p>
                            <p>Согласно закону, публичная оферта – это предложение, которое, во-первых, адресовано
                                неопределенному кругу лиц, во-вторых, содержит все существенные условия договора, и,
                                в-третьих, достаточно определенно выражает намерение предприятия-оферента считать себя
                                заключившим договор с любым
                            </p>
                        </div>
                    </a><a class="Documents-item" href="/documents/slug.html">
                        <div class="Documents-image"><img src="/assets/img/content/documents/2.jpg" alt="2.jpg"/>
                        </div>
                        <div class="Documents-content">
                            <strong class="Documents-title">Политика обработки персональных данных
                            </strong>
                            <p>Согласно закону, публичная оферта – это предложение, которое, во-первых, адресовано
                                неопределенному кругу лиц, во-вторых, содержит все существенные условия договора, и,
                                в-третьих, достаточно определенно выражает намерение предприятия-оферента считать себя
                                заключившим договор с любым
                            </p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>